/* @import "tailwindcss"; */
/* app/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gabarito';
  src: url('/fonts/Gabarito-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Gabarito';
  src: url('/fonts/Gabarito-Bold.ttf') format('truetype');
  font-weight: 700;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* ซ่อน scrollbar แต่ยัง scroll ได้ */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;  
  scrollbar-width: none;   
}

/*ปรับลูกศร dropdown หน้า dpo*/
.custom-select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='0 0 24 24' fill='none' stroke='%239ca3af' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 8px center;
  appearance: none;
  padding-right: 28px;
  stroke:'%2303369D';
  stroke-width:'3';
}